<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>

  <div class="form-stacked">
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Sign in", :class => "btn primary actions" %>
<% end %>

<p><%= link_to "New user sign up now!", signup_path, :class => "btn info" %></p>
