<h1>Add Task</h1>

<%= form_for(@task) do |f| %>

  <div class="form-stacked">
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.text_field :due_date %>
  </div>

  <%= f.hidden_field :project_id, :value => params[:id] %>

  <%= f.submit "Add task", :class => "btn primary actions" %>
<% end %>
