<h1>Edit project here</h1>

<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
