<h1>Edit project here</h1>

<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="form-stacked">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "span7" %>

    <%= f.submit "Update", :class => "btn primary" %>
  </div>
<% end %>
