<h1>Add project</h1>

<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>


  <div class="form-stacked">
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "span7"%>

    <%= f.submit "Add project", :class => "btn primary" %>
  </div>
<% end %>
